<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.suoluomei.com/common/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
<div id="day" style="width: 80%;height: 400px;background-color: white !important">
</div>
<script>
     // 基于准备好的dom，初始化echarts实例
    var day = echarts.init(document.getElementById('day'));
    // 指定图表的配置项和数据
    var day_options = {
        title: {
            text: '日报表',
            // subtext: '单位：条'
        },    
        tooltip: {
            trigger: 'axis'
        },

        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                }, //区域缩放，区域缩放还原
                dataView: { 
                    readOnly: false
                }, //数据视图
                magicType: {
                    type: ['line', 'bar', 'stack', 'tiled']
                },  //切换为折线图，切换为柱状图
                restore: {},  //还原
                saveAsImage: {}   //保存为图片
            }
        },
        xAxis:  {
            type: 'category',
            boundaryGap: false,
            data: ['2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1','2017-11-1']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'日报表',
                type:'line',
                data:[52, 46, 789, 76786, 46546, 45678, 48667, 456, 846, 4687],
                markPoint: {
                    data: [
                        {
                            type: 'max', name: '最大值'
                        },
                        {
                            type: 'min', name: '最小值'
                        }
                    ]
                        }
            },
            
        ]
    };
    day.setOption(day_options);
</script>

</body>
</html>